html {
    font-family: 'Montserrat', sans-serif;
    background-color: #52a7c1;
    background-image: linear-gradient(315deg, #B799FF 0%, #ACBCFF 74%);
    min-width: 1000px;
    min-height: 800px; 
}

body {
    height: 100vh;   
    display: flex;
    justify-content: center;
    height: 105vh;
    background-color: #ebf8fc9a;
    background-image: (315deg, #B799FF 0%, #ACBCFF 74%);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.836);
}

h1 {
    font-size:28px;
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(43, 42, 42);
}

h2 {
    padding-left: 0;
    
    font-size: 20px;
    color: rgb(43, 42, 42);
}
h3 {
    color: rgb(43, 42, 42);
    font-size: 14px;
}

.desktop {
    display: flex;
    padding: 30px;
}


.container-div {
    display: none;
}

.navbar {
    grid-area: nav;
}

.navbar a{
    color: black;
}

.logo{
    grid-area: logo;
    font-weight: 900;
}

.social {
    grid-area: github;
    display: flex;
}

.left-panel {
    background-image: linear-gradient(315deg, #7b42ff 0%, #7fd5fd 74%);;
    padding: 20px;
    border-radius: 30px;
    grid-area: left-panel;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "logo"
    "nav"
    "."
    "social";
}

span {
    color: #00a8bb;
}


.icons-desk {
    display: flex;
    padding: 10px;
}

.icons-desk img{
    width: 30px;
}

.icons-desk p{
    font-size: 12px;
    font-weight: 600;
    padding-left: 30px;
}

.social >div{
    width: 40px;

}

.search-bar {
    display: flex;
    max-width: 300px;
    grid-area: search;
}

.search-bar input{
    width: 400px;
    border-radius: 30px;
    padding-left: 20px;
    height: 30px;
    font-weight: 400;
    font-size: 1rem;
    /*background-color: #e4fff9;*/
    
}
.search-bar p {
    color: rgb(138, 138, 138);
    margin-top: 12px;
}

.search-bar img {
    height: 30px;
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 20px;
}

.projects-desk {
    padding: 30px;
    grid-area: projects;
    display: flex;
    flex-direction: column;
}

.projects-desk h3 {
    font-size: 14px;
    font-weight: 600;
}


.middle-content {
    grid-area: middle-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 6fr 2fr 1fr;
    grid-template-areas:
    "search"
    "projects"
    ;

}

.project-heading-div{
    display: flex;
}



.projects-div-desk {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
}


.projects-div-desk h3 {
    align-self: center;
    color: #202020;
}


.form-project-div, .calculator-div, .Etch-A-Sketch-div, .rock-paper-sicssors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.projects-div-desk a {
    height: 20vh;
    transition: 0.5s;
}

.form-project-heading, .calculator-heading, .Etch-A-Sketch-heading, .rock-paper-sicssors-heading {
    padding-top: 20px;
}

#form-desk, #calculator-desk, #etch-a-sketch-desk, #rock-paper-sicssors {
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 30px 35px #0266774d;
}

#form-desk, #calculator-desk, #etch-a-sketch-desk, #rock-paper-sicssors:hover{
    box-shadow: 1px 30px 35px #001c214d ;
}



.notify {
    display: flex;
    max-height: 50px;
    grid-area: id;
    justify-content: end;
}

.notify div {
    padding-left: 40px;
}

.bell {
    display: flex;
    margin-top: 10px;
    align-self: center;
}

.bell img{
    width: 23px;
}

.announcements-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: announce;


}


.announcements-div p {
    font-size: 12px;
    font-weight: 500;
    color: #555555;
}


.announcements {
    resize: both;
    overflow: auto;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
    text-align: center;
    height: 20vhvh;
    width: 100%;
    border-radius: 30px;
    background-color: #D5FFD0;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 5px 20px 35px #00303857;
}

.announcements h2 {
    margin-top: 0px;
}

.horizontal-line {
    height: 1px;
    border-bottom: 1px solid rgb(151, 151, 151);
    width: 90%;
    margin: auto;
}

.trending {
    display: flex;
    flex-direction: column;
    grid-area: trend;
    margin-top: 20px;
}

.trending h2 {
    margin-bottom: 20px;
}
.trends {
    resize: both;
    overflow: auto;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    row-gap: 15px;
    justify-content: flex-start;
    text-align: center;
    height: 20vhvh;
    width: 100%;
    border-radius: 30px;
    background-color: #D5FFD0;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 10px;
    box-shadow: 5px 20px 35px #00303857;

}

.trend{
    display: flex;

}

.trend-logo img{
    width: 40px;
    border-radius: 30px;
}
.trend-desp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-left: 10px;
    font-size: 0.9rem;
}

.user-id{
    margin: 0px;
    font-weight: 700;
    color: rgb(79, 79, 79);
}
.user-desp{
    margin: 0px;
    color: rgb(64, 64, 64);
}

.right-panel {
    grid-area: right-panel;
    background-image:  linear-gradient(315deg, #976bff 0%, #7fd5fd 74%);
    width: 20rem;
    height: 40rem;
    padding: 50px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto;

    padding-bottom: 70px;
    padding-top: 30px;

    grid-template-rows: 1fr 5fr 4fr;
    grid-template-areas: 
      "id"
      "announce"
      "trend";
}

.container-desktop {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "left-panel middle-content right-panel"
      "left-panel middle-content right-panel"
      "left-panel middle-content right-panel"
      "left-panel middle-content right-panel"
      ;
}

.id-logo img {
    width: 60px;
    border-radius: 50px;
}

